[submodule "external/attitudeMathLibrary"]
	path = external/attitudeMathLibrary
	url = https://github.com/antshiv/attitudeMathLibrary.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/implot"]
	path = external/implot
	url = https://github.com/epezent/implot.git
[submodule "external/dynamic_models"]
	path = external/dynamic_models
	url = ../dynamic_models
