[submodule "external/attitudeMathLibrary"]
	path = external/attitudeMathLibrary
	url = https://github.com/antshiv/attitudeMathLibrary.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
